@model ExpofairTourPlanung.Models.Tour

@{
    ViewData["Title"] = "Tourdaten";
}

<form asp-controller="Tour" asp-action="SaveTour" enctype="multipart/form-data">

    <div class="card" style="margin-bottom: 15px;">

        <div class="card-header">
            <h5>Tourdaten:</h5>
        </div>

        <div class="card-body">

            <input hidden asp-for="IdTour" />

            <div class="row form-group">
                <div class="col-6">
                    <label for="Tour">Tourdatum</label>
                    <input class="form-control" asp-for="TourDate" type="date" placeholder="Wann soll die Tour stattfinden" />
                </div>
                <div class="col-6">
                    <label for="Tour">Fahrzeug</label>
                    @Html.DropDownListFor(model => Model.VehicleNr, (SelectList)ViewBag.Vehicles, "Welches Fahrzeug?",  new { @class = "form-control", @placeholder = "Fahrzeug auswählen" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col ">
                    <label for="Tour">Tourbezeichnung</label>
                    <input class="form-control" asp-for="TourName" type="text" placeholder="Bitte Legen Sie einen Tour Namen fest" />

                </div>
                <div class="col">
                    <label for="Tour">Fahrer</label>
                    @Html.DropDownListFor(model => Model.Driver, (SelectList)ViewBag.Employees,"Wer ist der Fahrer?", new { @placeholder = "Wer ist der Fahrer?" })

                </div>
            </div>
            <div class="row form-group">
                <div class="col ">
                    <label for="Tour">Verantwortlicher</label>
                    @Html.DropDownListFor(model => Model.Master, (SelectList)ViewBag.Employees, "Wer ist Verantwortlich?",  new { @placeholder = "Wer ist verantworlich?" })

                </div>
                <div class="col">
                    <label for="Tour">Team</label>
                    @Html.DropDownListFor(model => Model.Team, (SelectList)ViewBag.Employees, new { @multiple = "multiple", @placeholder = "Wer ist weiterhin im Team?" })

                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <label for="Tour">Kommentar</label>
                    <textarea rows="6" class="form-control" asp-for="Comment" placeholder="Hier können Sie einen generellen Kommentar eintragen."></textarea>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary" type="submit">Speichern</button>
        </div>
    </div>
</form>


@if (Model != null)
{
    <div class="card" style="margin-bottom: 15px;">

        <div class="card-header">
            <h5>folgende Jobs sind der Tour zugeordnet:</h5>
        </div>

        <div class="card-body">
            @{
                List<Job2Tour> tourJobs = ViewBag.tourJobs;
            }
            <table class="table table-sm">
                <tr>
                    <th class="col-2">Zeitraum</th>
                    <th class="col-7">Job</th>
                    <th class="col-3">Aktion</th>
                </tr>



                @foreach (Job2Tour job in tourJobs)
                {

                    <tr>
                        <td>@job.Time</td>
                        <td>@job.Caption</td>
                        <td>
                            <button onclick="onClickedDecreaseJobRankingButton(@Model.IdTour, @job.IdJob)" class="btn btn-default" aria-label="Nach Vorn">
                                <span class="fa fa-arrow-up fa-lg" aria-hidden="true"></span>
                            </button>
                            <button onclick="onClickedIncreaseJobRankingButton(@Model.IdTour, @job.IdJob)" class="btn btn-default" aria-label="Nach Hinten">
                                <span class="fa fa-arrow-down fa-lg" aria-hidden="true"></span>
                            </button>

                            <button onclick="onClickedDelJobButton(@Model.IdTour, @job.IdJob)" class="btn btn-default" aria-label="Entfernen">
                                <span class="fa fa-minus fa-lg" aria-hidden="true"></span>
                            </button>
                            <a asp-route-id="@job.IdTourJob" asp-controller="Job" asp-action="EditJob" class="btn btn-default" aria-label="Bearbeiten">
                                <span class="fa fa-edit fa-lg" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="card" style="margin-bottom: 15px;">

        <div class="card-header">
            <h5>folgende Jobs sind bisher keiner Tour zugeordnet:</h5>
        </div>

        <div class="card-body">
            @{
                List<Job2Tour> jobs = ViewBag.freeJobs;
            }
            <table class="table table-sm">
                <tr>
                    <th class="col-9">Adresse</th>
                    <th class="col-3">Aktion</th>
                </tr>



                @foreach (Job2Tour job in jobs)
                {

                    <tr>
                        <td>@job.Caption</td>
                        <td>
                            <button onclick="onClickedAddJobButton(@Model.IdTour, @job.IdJob)" class="btn btn-default" aria-label="Zufügen">
                                <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                            </button>
                            <button onclick="showModal(@job.IdTourJob)" class="btn btn-default" aria-label="Detail">
                                <span class="fa fa-info fa-lg" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
 }
        <div class="modal fade" id="modalJobDetail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <h6>Adresse:</h6>
                    <div id="modalAddress">

                    </div>

                    <hr />
                    <h6>Kommentar:</h6>
                    <div id="modalComment">

                    </div>

                    <hr />
                    <h6>Inhalt:</h6>
                    <div id="modalStock">

                    </div>

                </div>
            </div>
        </div>
    </div>



 
@section scripts {

    <script>

        $(function () {
            $('#VehicleNr').SumoSelect();
            $('#Driver').SumoSelect();
            $('#Master').SumoSelect();
            $('#Team').SumoSelect();

        })


        function showModal(id) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetJobDetail")",
                data: { id: id },
                success: function (daten) {

                    $('#modalTitle').text(daten.caption + " (" + daten.inOut + ")");
                    $('#modalAddress').text(daten.address);
                    $('#modalComment').text(daten.comment);
                    $('#modalStock').text(daten.stock);

                    $('#modalJobDetail').modal('show')

                }
             });
        }


        function onClickedAddJobButton(id, idJob) {

                    // Backend call to Add Job to the tour
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AddJob2Tour")",
                        data: { id: id, idJob: idJob  },
                        success: function (msg) {
                               location.reload();
                        },
                        error: function (msg) {
                            Swal.fire('Ups, etwas ist schief gelaufen!', '', 'error')
                        }
                    });
        }
        function onClickedDelJobButton(id, idJob) {

                    // Backend call to Add Job to the tour
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DelJobFromTour")",
                        data: { id: id, idJob: idJob  },
                        success: function (msg) {
                               location.reload();
                        },
                        error: function (msg) {
                            Swal.fire('Ups, etwas ist schief gelaufen!', '', 'error')
                        }
                    });
        }
                function onClickedIncreaseJobRankingButton(id, idJob) {

                    // Backend call to Add Job to the tour
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("IncreaseJobRanking")",
                        data: { id: id, idJob: idJob  },
                        success: function (msg) {
                               location.reload();
                        },
                        error: function (msg) {
                            Swal.fire('Ups, etwas ist schief gelaufen!', '', 'error')
                        }
                    });
        }
        function onClickedDecreaseJobRankingButton(id, idJob) {

                    // Backend call to Add Job to the tour
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DecreaseJobRanking")",
                        data: { id: id, idJob: idJob  },
                        success: function (msg) {
                               location.reload();
                        },
                        error: function (msg) {
                            Swal.fire('Ups, etwas ist schief gelaufen!', '', 'error')
                        }
                    });
        }


  

    </script>
}
